{% extends 'boton_agr_reg.html' %}
{% load static %}

{% block controls %}
    <h4 class="fw-bold fst-italic text-secondary text-center">INFORMACION ACADEMICA</h4>
    <hr class="bg-success border-4 border-top border-success">
    <table class="table table-info table-striped table-bordered border-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Institución</th>
              <th scope="col">Título</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>04/02/2010</td>
              <td>15/04/2015</td>
              <td>Universidad Estatal de Guayaquil</td>
              <td>Ingeniero</td>
              <td class="acciones">
                <a href="#">✏️</a>
                <a href="#">❌</a>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>21/03/2016</td>
              <td>15/10/2020</td>
              <td>Universidad Agraria</td>
              <td>Maestria</td>
              <td class="acciones">
                <a href="#">✏️</a>
                <a href="#">❌</a>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

{% endblock %}