{% extends 'boton_agr_reg.html' %}
{% load static %}

{% block controls %}
    <h4 class="fw-bold fst-italic text-secondary text-center">INFORMACION ACADEMICA</h4>
    <hr class="bg-success border-4 border-top border-success">
    <table class="table table-info table-striped table-bordered border-dark">
    {% block columns %}
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Institución</th>
              <th scope="col">Título</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
    {% endblock %}
    {% block rows %}
        {% for infoAcade in infoAcademicas %}
            <tbody>
                <tr class="align-middle table-info table-bordered border-dark text-center">
                    <td>{{ infoAcade.id }}</td>
                    <td>{{ infoAcade.fecha_Inicio }}</td>
                    <td>{{ infoAcade.fecha_Fin }}</td>
                    <td>{{ infoAcade.institucion }}</td>
                    <td>{{ infoAcade.titulo }}</td>
                    <td class="acciones">
                        <a href="{% url 'ficha_Personal:actualizarContactoEmergencia' contaEmer.id %}">✏️</a>
                        <a href="{% url 'ficha_Personal:deleteContactoEmergencia' contaEmer.id %}">❌</a>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    {% endblock %}
        </table>

{% endblock %}